<div class="user-profile">
    <div class="profile-header">
      <h1>{{ usuario.nombre }} {{ usuario.apellido }}</h1>
      <p class="email">{{ usuario.email }}</p>
    </div>
    <div class="profile-details">
      <div class="detail">
        <label>Nombre de Usuario:</label>
        <p>{{ usuario.username }}</p>
      </div>
      <div class="detail">
        <label>Teléfono:</label>
        <p>{{ usuario.telefono }}</p>
      </div>
      <div class="detail">
        <label>Categoría:</label>
        <p>{{ usuario.categoria }}</p>
      </div>
      <div class="detail">
        <label>Género:</label>
        <p>{{ usuario.genero }}</p>
      </div>
    </div>
  </div>
