<div class="container">
    <br>
        <h2 id="inicio">¡Conoce nuestro club y juga un buen partido de Tennis o Paddle!</h2>
        <br>
        <p>En nuestro centro de deportes, te ofrecemos la posibilidad de alquilar canchas de paddle o tennis para que disfrutes de estos emocionantes deportes con tus amigos y familiares.</p>
        <p>Nuestras canchas cuentan con las últimas instalaciones y están disponibles para alquiler durante toda la semana.</p>
        <p>No esperes más y reserva tu cancha ahora mismo.</p>
        <button type="button" class="btn btn-outline-danger btn-lg" routerLink="reservas">¡Reservar ya!</button>
    
    </div>
    <br>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/paletapaddle.jpg"class="d-block w-100"  alt="paleta de paddle"height= "700px">
            </div>
            <div class="carousel-item">
                <img src="assets/cancha paddle.jpg" class="d-block w-100" alt="cancha de paddle" height="700">
            </div>
            <div class="carousel-item">
                <img src="assets/paletadetennis.jpg" class="d-block w-100" alt="raqueta de tenis" height="700">
            </div>
            <div class="carousel-item">
                <img src="assets/canchatennis.jpg" class="d-block w-100" alt="cacnha de tenis"  height="700">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    
