<div>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1>Lista de Reservas</h1>
        <p class="fs-5 text-body-secondary">Aquí puedes ver todas tus reservas realizadas. Cada tarjeta muestra detalles
            sobre la cancha reservada, la fecha y hora de entrada y salida.</p>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <ng-container *ngFor="let reserva of reservas">
            <app-reserva [reserva]="reserva" [usuario]="usuario"
                (delete)="openDeleteReservaModal(reserva)"></app-reserva>
        </ng-container>
    </div>


    <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
        <div class="d-grid gap-2">
            <button
                class="btn btn-outline-secondary btn-success rounded-pill px-3 link-underline-dark link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                data-bs-toggle="modal" data-bs-target="#createReservaModal" type="button">Quiero crear una nueva
                reserva!</button>
        </div>
    </div>

    <div class="modal fade" id="createReservaModal" tabindex="-1" aria-labelledby="createReservaModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createReservaModalLabel">Crear Reserva</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="newReservaForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="canchaReservadaInput" class="form-label">Cancha Reservada:</label>
                            <input type="text" class="form-control" id="canchaReservadaInput"
                                formControlName="canchaReservada" required>
                        </div>
                        <div class="mb-3">
                            <label for="fechayHoraEntradaInput" class="form-label">Fecha y Hora de Entrada:</label>
                            <input type="datetime-local" class="form-control" id="fechayHoraEntradaInput"
                                formControlName="fechayHoraEntrada" required>
                        </div>
                        <div class="mb-3">
                            <label for="fechayHoraSalidaInput" class="form-label">Fecha y Hora de Salida:</label>
                            <input type="datetime-local" class="form-control" id="fechayHoraSalidaInput"
                                formControlName="fechayHoraSalida" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Crear Reserva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <app-reserva-delete-modal (onConfirm)="handleDelete()" (onCancel)="handleCancel()"></app-reserva-delete-modal>
</div>