<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Tennis</strong>
          <h3 class="mb-0">Reserva</h3>
          <div class="mb-1 text-body-secondary">Nov 12</div>
          <p class="card-text mb-auto">5pm to 6pm</p>
          <button class="btn btn-outline-secondary" type="button">Eliminar reserva</button>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/paletadetennis.jpg" width="250" height="230"  role="img"  preserveAspectRatio="xMidYMid slice" >>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Paddle</strong>
            <h3 class="mb-0">Reserva</h3>
            <div class="mb-1 text-body-secondary">Nov 13</div>
            <p class="card-text mb-auto">5pm to 6pm</p>
            <button class="btn btn-outline-secondary" type="button">Eliminar reserva</button>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="assets/paletapaddle.jpg" width="250" height="230" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">>
          </div>
        </div>
      </div>
    
  </div>
