<div class="row mb-3">
  <div class="col-md-8">
    <div class="card border rounded overflow-hidden shadow-lg h-100">
      <div class="position-relative">
        <img src="assets/paletadetennis.jpg" class="card-img-top" alt="Imagen de la cancha" style="height: 250px; object-fit: cover;">
        <div class="position-absolute top-0 start-0 bg-primary text-white p-3 rounded-end" style="width: 100%; height: 100px; background-color: rgba(0, 123, 255, 0.7);">
          <h5 class="card-title mb-0">Reserva</h5>
          <small class="d-block">Número de Cancha: {{ reserva.canchaReservada }}</small>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text mb-1">{{ reserva.fechayHoraEntrada | date:'MMM d, yyyy' }}</p>
        <p class="card-text mb-1"><strong>Horario de Entrada:</strong> {{ reserva.fechayHoraEntrada | date:'HH:mm' }}</p>
        <p class="card-text mb-3"><strong>Horario de Salida:</strong> {{ reserva.fechayHoraSalida | date:'HH:mm' }}</p>
        <button class="btn btn-danger" type="button" (click)="onDelete()">Eliminar Reserva</button>
      </div>
    </div>
  </div>
</div>