<form [formGroup]="newUsuarioForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input type="email" class="form-control" id="emailInput" formControlName="email" placeholder="*********@gmail.com" required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors?.['required']">
                El email es requerido.
            </div>
            <div *ngIf="email.errors?.['email']">
                Ingrese el email correctamente.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="usernameInput" class="form-label">Username</label>
        <input type="text" class="form-control" id="usernameInput" formControlName="username" placeholder="Ingrese su username">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
            <div *ngIf="username.errors?.['required']">
                El username es requerido.
            </div>
            <div *ngIf="username.errors?.['maxlength']">
                El máximo de caracteres es 20.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="nombreInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombreInput" formControlName="nombre" placeholder="Ingrese su nombre">
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
            <div *ngIf="nombre.errors?.['required']">
                El nombre es requerido.
            </div>
            <div *ngIf="nombre.errors?.['maxlength']">
                El máximo de caracteres es 20.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="apellidoInput" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellidoInput" formControlName="apellido" placeholder="Ingrese su apellido">
        <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
            <div *ngIf="apellido.errors?.['required']">
                El apellido es requerido.
            </div>
            <div *ngIf="apellido.errors?.['maxlength']">
                El máximo de caracteres es 20.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="contraseniaInput" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="contraseniaInput" formControlName="contrasenia" placeholder="Ingrese su nueva contraseña">
        <div *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)" class="alert alert-danger">
            <div *ngIf="contrasenia.errors?.['required']">
                La contraseña es requerida.
            </div>
            <div *ngIf="contrasenia.errors?.['maxlength']">
                El máximo de caracteres es 20.
            </div>
            <div *ngIf="contrasenia.errors?.['minlength']">
                El mínimo de caracteres es 8.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="telefonoInput" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="telefonoInput" formControlName="telefono" placeholder="Ingrese su número de teléfono" pattern="[0-9]{10}" required>
        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
            <div *ngIf="telefono.errors?.['required']">
                El teléfono es requerido.
            </div>
            <div *ngIf="telefono.errors?.['pattern']">
                Ingrese un número de teléfono válido (10 dígitos).
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="generoInput" class="form-label">Género</label>
        <select class="form-select" aria-label="Default select example" formControlName="genero" id="generoInput">
            <option value="" disabled>Seleccionar</option>
            <option value="Femenino">Femenino</option>
            <option value="Masculino">Masculino</option>
        </select>
        <div *ngIf="genero.invalid && (genero.dirty || genero.touched)" class="alert alert-danger">
            <div *ngIf="genero.errors?.['required']">
                El género es requerido.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="categoriaInput" class="form-label">Categoría</label>
        <input type="text" class="form-control" id="categoriaInput" formControlName="categoria" placeholder="Ingrese a qué categoría pertenece">
        <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="alert alert-danger">
            <div *ngIf="categoria.errors?.['required']">
                La categoría es requerida.
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Registrarme</button>       
    </div>
    <br>
</form>