<div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{aviso.usuario.nombre}}</h4>
        </div>
        <div class="card-body">
            <p> {{aviso.texto}}</p>
        <ul class="list-unstyled mt-3 mb-4">
            <li><strong>Categoria: </strong> {{aviso.usuario.categoria}} </li>
            <li><strong>Genero: </strong> {{aviso.usuario.genero}} </li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary btn-outline-danger"  >Borrar Anuncio</button>
        </div>
    </div>
</div>
